<h3>Welcome To The School</h3>
<p>
    eLearning is a simple and free online learning platform. Where students can experience
    the most innovative way of learning new things everyday.
</p>
<a class="button" href="/users/registration">Register</a>
<p>You need to sign up to get access to free classes</p>